$maxWidth: 1440px;
$colorMain: #1E252B;
$colorAccent: #FF6E30;
$colorWhite: #fff;
$colorPrimary-1: #FDF5FF;
$colorPrimary-2: #283036;
$colorPrimary-3: #FFA537;
$fontFamilyMain: 'Poppins', sans-serif;
$fontWeight500Main: 500;
$fontStyleNormalMain: normal;
$fontSizeMain: 18px;

$fontSizeXS: 14px;
$fontSizeS: 16px;
$lineHeightS: 24px;
$fontSizeM: 18px;
$lineHeightM: 30px;
$fontSizeL: 22px;
$lineHeightL: 33px;
$fontSizeSXL: 24px;
$lineHeightSXL: 36px;
$fontSizeXL: 48px;
$lineHeightXL: 62px;
$fontSizeXXL: 50px;
$lineHeightXXL: 70px;

$fontWeight400: 400;
$fontWeight600: 600;

$borderS: 1.5px;

$borderRadiusS: 8px;
$borderRadiusM: 15px;
$borderRadiusL: 25px;

$opacityXS: 0.38;
$opacityS: 0.55;
$opacityL: 0.78;
$opacityXl: 0.9;
$opacityXXl: 1;

$transition5: 0.5s;

